<div class="container">
    <hr />

    <strong *ngIf="loadingSession$ | async else loaded">Loading exercise...</strong>

    <div class="text-danger" *ngIf="error$ | async as error">{{error}}</div>

    <ng-template #loaded>
        <div *ngIf="interactionSet$ | async as iSet">
            <label>Say one of the following:</label>
            <ul>
                <li *ngFor="let option of (exercise$ | async)?.options">{{option}}</li>
            </ul>
            <button class="btn btn-primary" [disabled]="iSet.isRecognizing()" type="button"
                (click)="toggleRecording(iSet)" *ngIf="iSet.state$ | async as state">
                <span *ngIf="state === AsrGrammarInteractionState.RECOGNIZING; else recording">Recognizing...</span>
                <ng-template #recording>
                    <span>{{ state === AsrGrammarInteractionState.RECORDING ? 'Stop' : 'Start' }} recording</span>
                </ng-template>
            </button>
        </div>

        <div *ngIf="asrResult$ | async as asrResult">
            <h2>{{ asrResult.recognized.raw || 'Nothing recognized' }}</h2>
            <audio controls [src]="asrResult.audio.mp3.url"></audio>
            <pre style="max-height: 300px;overflow-y:auto;">{{ asrResult | json}}</pre>
        </div>
    </ng-template>
</div>