<div class="container">
  <label for="response-options">Enter multiple choice options:</label>
  <textarea id="response-options" class="form-control" rows="8" [(ngModel)]="responseOptions"></textarea>
  <br />
  <button class="btn btn-default" type="button" (click)="setExercise()">Set exercise</button>
  <app-interaction [responseOptions]="activeResponseOptions" *ngIf="activeResponseOptions != null"></app-interaction>
</div>